body{
    background: linear-gradient(to left, rgb(42, 149, 211) , rgb(68, 100, 240) );
}
.container{
    display: grid;
    place-content: center;
}
.box{
    border: 1px solid black;
    width: 450px;
    height: 700px;
    text-align: center;
    background: rgba(0, 0, 0, 0.178);
}
hr{
    border: 1px solid black;
}
h1{
    color: black;
    border-bottom: black 5px solid;
    width: 300px;
    display: grid;
    place-content: center;

    
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
a:hover{
    background: rgba(0, 0, 0, 0.192);
}